<h1>Burger Buffet!</h1>

<img class="burger-pic" src="/assets/images/burger.png" alt="burger-image">
<p class="attribution">Icon made by Freepik from www.flaticon.com</p>




<div class="container">
  <div class="row">
    <div class="col-sm-6">
        <h4>Burgers Available to eat</h4>
        <ul>
            {{#each burgers}}
              {{#unless devoured}}
            <li>
            <p>{{burger_name}}<button class="change-devour" data-id="{{id}}"
            >Eat!
	          </button></p>
              {{/unless}}
            {{/each}}
            </li>
        </ul>
    </div>
  <div class="col-sm-6">
    <h4>Burgers Eaten</h4>
    <ul>
            {{#each burgers}}
              {{#if devoured}}
            <li>
            <p>{{burger_name}}<button class="throw-up" data-id="{{id}}">Throw Up!
	          </button><button class="delete-burger" data-id="{{id}}">Delete Burger!</button></p>
              {{/if}}
            {{/each}}
            </li>
        </ul>
    </div> 
   
    
    </div>
  </div>
</div> 

<form class="add-burger">
    <label for="burger_name">Add New Burger</label><br>
    <input type="text" id="burger" name="newburger" placeholder="Type New Burger Here"><button id="addburger" type="submit">Add Burger</button>
    
    </form>


